<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>

</head>
<body>
<div class = "unit group" id = "contact">
  <h1 class = "title" >聯絡資訊 － <span class = "noLetterSpace">Contact Me</span></h1>
  <hr class = "line">
  <p>&nbsp&nbsp&nbsp&nbsp如果您想對我有更細一步的了解，或是您覺得這個個人網站還有哪邊可以改進的意見，
    還是只是想認識認識交個朋友交流交流，都可以透過下方的連絡方式與我聯絡。我很高興可以認識大家，都很歡迎。
  </p>

  <div class = "sendMail">
    <a id = "mailTo"></a>
    <form  id = "mailForm" class = "ui form" accept-charset="utf-8" action="https://formspree.io/f/mknkonow"
           method="POST">
      <div class = field>
        <label>姓名：</label>
        <input type="text" name = "Name" placeholder="姓名">
      </div>
      <div class = field>
        <label>Email：</label>
        <input type="email" name = "_replyto" placeholder="Email">
      </div>
      <div class = field>
        <label>主旨：</label>
        <input type="text" name = "Subject" placeholder="主旨">
      </div>
      <div class = field>
        <label>你想說什麼(字數限制於210字以內)：</label>
        <textarea name = "content" cols="50" maxlength="210"></textarea>
      </div>
      <div class="ui success message" id = "seccessMessage">
        <div class="header">信件成功寄出囉!</div>
        <p>謝謝你的回覆，我看到後會盡快回復的XD</p>
      </div>
      <div class="ui error message" id = "errorMessage">
        <div class="header">可能有些忘記填或輸入錯誤喔!</div>
        <p></p>
      </div>
      <div class = field>
        <button class = "fluid ui button" type="button" onclick='validation()'>Send</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>

