<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Interest</title>
</head>
<body>
<div class="container">
  <div class="box">
    <div class="content">
      <img src="assets/img/grid/food.jpg">
      <p>品嚐美食</p>
    </div>
  </div>
  <div class="box">
    <div class="content">
      <img src="assets/img/grid/baseball.jpg">
      <p>偶像王哥哥</p>
    </div>
  </div>
  <div class="box">
    <div class="content">
      <img src="assets/img/grid/basketball.jpg" >
      <p>偶像KD</p>
    </div>
  </div>
  <div class="box">
    <div class="content">
      <img src="assets/img/grid/travel.jpg">
      <p>喜歡旅遊</p>
    </div>
  </div>
  <div class="box">
    <div class="content">
      <img src="assets/img/grid/workout.jpg">
      <p>熱愛健力三項</p>
    </div>
  </div>


</div>
</body>
</html>
